h1,h2,h3,p,body {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

* {
    box-sizing: border-box;
}


/**---------------------------------**/

.block {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #212934;
    color: #cfd6e1;
}



.block1 {
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding: 20px;
    align-items: center;
}

.block1 .div {
    color: #59ab6e;
    font-size: 50px;
    font-family: sans-serif;
    font-weight: 550;
}

.div1 a {
    text-decoration: none;
    font-size: 25px;
    color: #212990;
    padding-right: 50px;
}

.div2  {
    display: inline-block;
}

.div2 a {
    text-decoration: none;
    color: #212529;
}

.div2 .setup a {
    position: relative;
    margin-right: 15px;
}

.setup a .text {
    position: absolute;
    border-radius: 50rem;
    background-color: #e9eef5;
    color: #212564;
    padding: 3px 6px;
    line-height: 1;
    text-align: center;
    top: -25px;
    left: 5px;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block2 {
    display: flex;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    background-color: #efefef;
    color: #212529;
}

.div3 {
    width: 470px;
    padding-left: 50px;
}

.block3 {
    text-align: center;
    padding-top: 50px;
}

.flex {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom: 50px;
}

.div4 {
    width: 30%;
    height: auto;
}

.block2 div img {
    height: 550px;
}

.div4 img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    padding-bottom: 10px;
}

.div4 button {
    padding: 15px 25px;
    margin: 10px;
    background-color: #59ab6e;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}

.block4 {
    padding: 50px;
    text-align: center;
    font-family: 'roboto',sans-serif;
    background-color: #e9eef5;
}

.div5 {
    width: 31%;
    text-align: left;  
    background-color: #ffffff;  
    font-size: 18px;
    border: 1px solid rgb(221, 220, 220);
    padding-bottom: 25px;
}

.icon-color {
    color: yellow;
}

.div5 .right-text {
    float: right;
}

.div5 span {
    color: #bcbcbc;
}

.margin a,h3,p,span {
    margin: 15px 10px;
}

.div5 p {
    margin: 15px 10px;
}

.block5 {
    background-color: #212934;
    color: #cfd6e1;
}

.flex1 {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: auto;
    border-bottom: 1px solid #2d343f;
    padding-bottom: 10px;
}

.div6  {
    font-size: 1.2rem;
    width: 25%;
}

.div6 h2,i {
    margin: 10px 5px;
}

.div6 h2 {
    font-size: 2rem;
    color: #59ab6e;
    border-bottom: 1px solid #2d343f;
    padding-bottom: 10px;
}

.div6 a {
    text-decoration: none;
    color: #cfd6e1;
}

.div7 {
    width: 23%;
}

.div7 h2,p {
    margin: 10px 0px;
    font-size: 1.2rem;
}

.div7 h2 {
    font-size: 2rem;
    border-bottom: 1px solid #2d343f;
    padding-bottom: 10px;
}

.flex2 {
    display: flex;
    justify-content: space-between;
}

.div8 {
    padding: 20px;
    padding-left: 80px;
    padding-right: 80px;
}

.div8 a {
    text-decoration: none;
    color: #cfd6e1;
    border-radius: 50%;
    border: 1px solid #2d343f;
    padding: 5px;
    font-size: 22px;
}

.div8 span input {
    
    background-color: #212934;
    padding: 10px 20px;
    border: 1px solid #2d343f;
}

.div8 span button {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: #59ab6e;
    border: none;
}

.block6 {
    background-color: #1d242d;
    color: #dcdde1;
    padding: 30px;
    padding-left: 50px;
}
